
body { color: palevioletred; background-color: #ffeaf4; }

    p,h1,h3 {
    font-family: "Arial";
    }

    p { margin: 0; }

    h1 {
      color: pink;
      text-shadow: 2px 2px #e82c71
    }
    h1: hover {
      color: red
    }
    h3 {
      color: pink;
      text-shadow: 2px 2px #e82c71
    }
   body {
     border: 20px outset #e82c71;
     background-color: #ffeaf4
    }

